body{
    background-color:white ;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}
#name4{
    background-color:white ;
}
body{
    background-image:url('cr.webp');
    background-repeat: no-repeat;
    background-size: cover;
  
  };